<div class="main">
  <div class="hipsum">
    <div class="jumbotron">
      <h1 id="hello,-world!">Hello, world!<a class="anchorjs-link" href="#hello,-world!"><span class="anchorjs-icon"></span></a></h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Operating</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td>
          <%= link_to "Edit", edit_admin_article_path(article) %>
          /
          <%= link_to "Delete", admin_article_path(article), method: :delete, data: {confirm: "delete this article?"} %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @posts %>
  </div>
</div>