<!DOCTYPE html>
<html>
<head>
  <title>Admin - Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
  <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "shared/admin/header" %>
    <%= render "shared/admin/sidebar" %>
    <%= yield %>
    <%= yield :javascript %>
  </div>
</body>
</html>
